*.aot
*.gz
*.im
*.jpeg
*.jpg
*.key
*.last
*.log
*.numbers
*.pages
*.png
*.pdf
*.pyc
*.tar
*.tex
*.xlsx
*.zip

__pycache__/
.DS_Store
.vscode/

gemini/
HST/*.fits
M2/TODs/
M2/images/minkasi/all/*.fits
M2/images/minkasi/good/*.fits
M2/images/minkasi/remove_no/*.fits
M2/images/minkasi/remove_no_maybe/*.fits
MeerKat/

